[submodule "plaintext/mpv-install"]
	path = plaintext/mpv-install
	url = git@github.com:Arxoto/mpv-install.git
[submodule "scripts/content_merge"]
	path = scripts/content_merge
	url = git@github.com:Arxoto/content_merge.git
